<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715138194640-kpacqla6enu2jjrrjqfhckd7c3en34ku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715138194640-kpacqla6enu2jjrrjqfhckd7c3en34ku</string>
	<key>API_KEY</key>
	<string>AIzaSyA5mjImFYq1tvDR1BKICnyu3EbEC9T_NiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>715138194640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.neverForget</string>
	<key>PROJECT_ID</key>
	<string>neverforgetnew</string>
	<key>STORAGE_BUCKET</key>
	<string>neverforgetnew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715138194640:ios:9aec236a4ecb7fad0052d5</string>
</dict>
</plist>